/ComunicacaoTCP/nbproject/private/
/ComunicacaoTCP/build/
/ProvaEstagio/nbproject/private/
/ProvaEstagio/build/
/DateTimeService/nbproject/private/
/DateTimeServer/nbproject/private/
/DateTimeServer/build/
/DateTimeService/build/
/DateTimeClient/nbproject/private/
/DateTimeClient/build/
/CalculadoraService/nbproject/private/
/CalculadoraServer/nbproject/private/
/CalculadoraClient/nbproject/private/
/CalculadoraService/build/
/CalculadoraClient/build/
/CalculadoraServer/build/